<% include ../partials/header %>
<title>Product Page</title>
<div class='form'>
    <div class='flex-detail'>
        <div class='detail-left'>
            <img class='img-size' src='images/location-icon.png'>
            <div class="flex-row">
                <div class="col-xs-6 col-md-3 flex-img">
                    <a href="#" class="thumbnail">
                        <!-- <img src="images/location-icon.png" alt="..."> -->
                        <img src="<%= item.image_path %>" alt="">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 flex-img">
                    <a href="#" class="thumbnail">
                        <img src="images/location-icon.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 flex-img">
                    <a href="#" class="thumbnail">
                        <img src="images/location-icon.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 flex-img">
                    <a href="#" class="thumbnail">
                        <img src="images/location-icon.png" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <div class='detail-right'>
            <div class='item'>
                <ol class='breadcrumb'>
                    <li><a href="http://www.google.com">Home</a></li>
                    <li><a href="#"><%= item.category %></a></li>
                    <li class='active'>...</li>
                </ol>
            </div>
            <div class='item'><%= item.product_name %></div>
            <div class='item'><%= item.original_price %></div>
            <div class='item'><%= item.product_description %></div>
            <!-- <input class='item-qty' type="number" step="1" min="1" max="" name="quantity" value="1" size="4"> -->
            <!-- <button type="button" class="btn btn-default" >Add to Cart</button> -->
            <p>
                    <a href="/items/add-to-cart/<%= item._id %>" class="btn btn-primary">Add To Cart</a>
            </p>
        </div>
    </div>
</div>
<div class='related-products'>
    <h1>Reviews</h1>
    <hr class='line'>
    <div class='review-left'>
    </div>
    <div class='review-right'>
        <div class='review-form'>
            <h3 class='review-header'>Add a review</h3>
            <p>Your email address will not be pubished. Required fields are marked*</p>
            <p>Your rating</p>
            <div class="star">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
            </div>
            <script>
                var star = document.getElementsByClassName('glyphicon');
                var isChose=false;

                for(var i=0;i<star.length;i++){
                    //鼠标悬浮时间，呼叫 function org 改变星星颜色
                    star[i].onmouseover=function(){
                        if(!isChose){
                            this.select = true;
                            for(var j=0;j<star.length;j++){
                                if(star[j].select==true){
                                    org(j);
                                }
                            }
                        }
                    }
                    //鼠标移出时间，呼叫 function clear 清除星星颜色
                    star[i].onmouseout = function(){
                        if(!isChose){
                            clear();
                        }
                    }
                    //鼠标点击事件
                    star[i].onclick = function(){
                        this.select = true;
                        isChose = true;
                        clear();
                        for(var i=0; i<star.length;i++){
                            if(star[i].select==true){
                                org(i);
                            }
                        }
                    }
                }

                //改变星星star的样式的颜色
                function org(s){
                    for(var i=0;i<=s;i++){
                        star[i].select = false;
                        star[i].style.color='orange';
                    }
                }
                //还原星星star的样式的颜色
                function clear(){
                    for(var i=0;i<star.length;i++){
                        star[i].style.color='#c3c0c0';
                    }
                }

            </script>
        </div>
    </div>
</div>

<div class='related-products'>
    <h1>Related products</h1>
    <hr class='line'>
    <div class='other-product'>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="images/location-icon.png" alt="...">
                </a>
                <div>Item name</div>
                <div>Item category</div>
                <div>price</div>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="images/location-icon.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="images/location-icon.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="images/location-icon.png" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript">
    jQuery(document).ready(function(){
        $(".rating-kv").rating();
    });
    function gradeScored(){
        var score = $("#score").val();
    }
</script> -->
<% include ../partials/footer %>
<style>
    .glyphicon-star{
        display: inline-block;
        margin: 0 1px;
        width: 19px;
        height: 19px;
        color: #c3c0c0;
        /* color: black; */
        vertical-align: -2px;
        cursor: pointer;
    }

    .review-header{
        margin: 0;
    }
    .review-form{
        margin: 10px;
    }
    .review-left{
        width: 60%;
        height: 500px;
        float: left;
        background-color: red;
    }
    .review-right{
        width: 39%;
        height: 500px;
        float: right;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        background-color: whitesmoke;
    }
    .line{
        background-color: black;
        margin-top: 0;
        height: 5;
    }
    .related-products{
        margin: 0 20px;
        clear: both;
    }
    .item-qty{
        width: 50px;
        height: 30px;
    }
    .thumbnail{
        margin-bottom: 0;
    }
    .flex-img{
        padding: 0 5px;
    }
    .flex-row{
        display: flex;
        margin-top: 20px;
    }
    .form{
        margin: 5% 7%;
    }
    .flex-detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .detail-left{
        width: 48%;
    }
    .detail-right{
        margin-left: 4%;
        width: 48%;
    }
    .img-size{
        width: 100%;
    }
    .item{
        margin-bottom: 20px;
    }
    .breadcrumb{
        background-color: snow;
        padding: 10px 0;
    }
</style>